# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# Crash/Reports
sysinfo.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# VS / C# artifacts
*.sln
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

